body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: none;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height:1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	background-color: #f3f7f8;
}

.btn {
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	color: #ffffff;
}

.button {
	display: block;
	width: 192px;
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	padding-top: 11px;
	padding-bottom: 9px;
}

.button:hover {
	background-color: #CA2C37;
}

.button:active {
	background-color: #ba2732;
}

.header {
	background-color: #f4f7f9;
	background-image: url("../img/services-background.png");
	background-repeat: repeat;
	background-position: 0 0;
}

.top-line {
	background-color: #293449;
}

.logo img {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.logo img:hover {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.logo img:active {
	background-color: #ba2732;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.logo-header img {
	display: block;
	padding-top: 12px;
	padding-right: 57px;
	padding-bottom: 17px;
	padding-left: 55px;
}

.user-nav {
	font-size: 18px;
	line-height: 24px;
}

.user-nav .btn {
	width: 150px;
	height: 22px;
}

.header .btn {
	text-transform: none;
	background-color: #293449;
}

.header .button-order {
	background-color: #63a63e;
}

.button-order:hover {
	background-color: #5fbb2d;
}

.user-nav .btn {
	display: flex;
	justify-content: center;
}

.button-bookmarks svg, 
.button-cart svg	{
	opacity: 0.3;
	padding-top: 3px;
}

.button-bookmarks span,
.button-cart span {
	margin-left: 9px;
}

.btn:hover svg {
	opacity: 1;
}

.button-bookmarks:active svg, 
.button-cart:active svg {
	opacity: 0.3;
}

.button-bookmarks svg {
	margin-left: -5px;
}

.button-cart span {
	margin-left: 7px;
}

.button-order span {
	margin-left: 2px;
}

.button-bookmarks:active,
.button-cart:active {
	background-color: #161d29;
	color: rgba(255,255,255,0.5);
}

.button-order:active {
	background-color: #63a63e;
	color: rgba(255,255,255,0.5);
}

.header .has-item {
	background-color: #ee3643;
}

/* проверить цвет фона и иконки корзины*/
.header .has-item:hover {
	background-color: #ee3643;
}

.header .has-item:active {
	background-color: #ba2732;
}

.header .description {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

/* проверить выравнивание */
.header-contacts {
	position: relative;
	text-align: center;
}

.header-contacts svg {
	position: absolute;
	top: 13px;
	left: 39px;
}

.header-contacts span {
	display: block;
	padding-left: 28px;
	margin-top: -1px;
}

.header-contacts a {
	box-sizing: border-box;
	font-size: 21px;
	line-height: 30px;
	color: #ee3643;
	font-weight: 700;
	width: 270px;
	padding-top: 4px;
	padding-bottom: 6px;
	border: 3px solid #ffffff;
}

.header-contacts p {
	color: #32425c;
}

.login-block .button-login {
	display: flex;
	justify-content: center;
	font-size: 21px;
	color: #000000;
	background-color: #ffffff;
}

.button-login:hover {
	color: #ee3643;
}

.name {
	display: flex;
	justify-content: space-between;
	color: #000000;
}

.name .user-icon {
	 margin-left: 15px;
 }

.name span {
	margin-left: 21px;
}

.logout-icon {
	margin-left: auto;
	margin-right: 17px;
}

.name svg,
.logout-icon svg { 
	opacity: 1;
	padding-top: 3px;
}

.name:hover {
	color: #000000;
}

.button-login:active,
.name:active {
	color: #c5c5c5;
}

.name:hover svg,
.logout-icon:hover svg {
	fill: #3D546F;
}

.name:active span {
	color: #c5c5c5;
}

.name:active svg,
.logout-icon:active svg {
	fill: #c5c5c5;
}

.enter svg {
	fill: #C5C5C5;
	opacity: 1;
	padding-top: 4px;
	margin-left: -8px;
}

.enter:hover svg {
	fill: #3D546F;
}

.enter:active svg {
	opacity: 1;
	fill: #c5c5c5;
}

.enter span {
	margin-left: 5px;
}

.acc-limks {
	display: flex;
	justify-content: center;
}

.shape-user-dot {
	
	margin-bottom: 3px; 
	margin-right: 10px;
	margin-left: 10px;
}

.acc-links a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.acc-links a:hover {
	color: #ee3643;
}

.acc-links a:active {
	color: #c5c5c5;
}

.header-nav a {
	font-size: 18px;
	line-height: 24px;
}

.nav-list {
	list-style: none;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}

.nav-list a:hover {
	background-color: #293449;
}

.nav-list a:active {
	color: rgba(255,255,255,0.5);
	background-color: #1d2739;
	box-shadow: inset 0 -5px 0 0 #293449;
}

/*---MAIN---*/
.promo-block {
	color: #ffffff;
	width: 300px;
	position: relative;
}

.promo-block::before {
	position: absolute;
	content: "";
	width: 44%;
	height: 123px;
	top: 0px;
	right: 0px;
	background-repeat: no-repeat;
	z-index: 1;
}

.promo-block.material::before {
	background-image: url("../img/icon-1.svg");
	background-position: 45px 53%;
}

.promo-block.tools::before {
	background-image: url("../img/icon-2.svg");
	background-position: 26px 55%;
}

.promo-block.machine::before {
	background-image: url("../img/icon-3.svg");
	background-position: 23px 51%;
}

.promo-block.discount::before {
	background-image: url("../img/icon-4.svg");
	background-position: 28px 26px;
}

.promo-block.delivery::before {
	background-image: url("../img/icon-5.svg");
	background-position: 23px 53%;
}

.promo-inner {
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 22px;
	margin: 0;
}

.discount .promo-inner {
	padding-top: 20px;
	padding-bottom: 22px;
	padding-left: 23px;
}

/* проверить внутренний отступ*/
.promo-inner p {
	padding-bottom: 13px;
}

.promo-block p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin: 0;
}

/* проверить ширину кнопки*/
.button-promo {
	line-height: 18px;
	width: 135px;
	padding top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: rgba(255,255,255,0.3); 
}

.button-promo:hover {
	background-color: rgba(197,197,197,0.3);
}

.button-promo:active {
	background-color: rgba(169,169,169,0.3);
}

.slider-dril {
	display: none;
}

.new {
	position: relative;
}

.new::after {
	position: absolute;
	content: "";
	width: 70px;
	height: 70px;
	background: url("../img/new_flag.svg");
	top: 0;
	right: 0;
}

.product-item.new::after {
	top: 1px;
	right: 1px;
}

.material {
	background-color: #ffbf47;
}

.tools {
	background-color: #3bbce3;
}

.machine {
	background-color: #dc91d8;
}

.discount {
	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.section-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.page-desc .section-title {
	color: #000000;
	padding-top: 65px;
	padding-bottom: 25px;
	padding-left: 0px;
	margin: 0;
}

.page-desc .text {
	padding-bottom: 69px;
}

.pop-header {
	background-color: #f9f5f0;
}

.product-list,
.brand-list,
.services-list,
.info-list,
.footer-nav,
.footer-categories,
.social-links {
	list-style: none;
}

.panel {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 1px #eaeaea;
}

.panel:hover {
	box-shadow: inset 0 0 0 1px #eaeaea,
	0 4px 20px 0 rgba(0,0,0,0.15);
}

.brand-list .panel:active {
	opacity: 0.5;
}

.product-item {
	font-size: 0;
	line-height: 0;
}

.item-face,
.item-name,
.crossed,
.button-price,
.product-item a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.item-actions .button-buy {
	position: relative;
	padding-left: 14px;
	font-weight: 400;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 0 #367315;
	border-radius: 2px;
}

.item-actions .button-buy:hover {
	background-color: #5fbb2d;
}

.item-actions .button-buy:active {
	background-color: #518534;
}

.item-actions .button-buy::before {
	position: absolute;
	content: "";
	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 0.3;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 30px;
}

.item-actions .button-bookmark {
	font-weight: 400;
	color: #32425c;
	box-shadow: inset 0 0 0 3px #63a63e;
	border-radius: 2px;
}

.item-actions .button-bookmark:hover {
	box-shadow: inset 0 0 0 3px #32425c;
}

.item-actions .button-bookmark:active {
	box-shadow: inset 0 0 0 3px #32425c;
	opacity: 0.5;
}

.crossed {
	min-height: 18px;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
	display: block;
	margin-bottom: 13px;
}

.button-price span {
	padding: 7px 20px;
	background-color: #EE3643;
}

.product-item .button-price {
	display: block;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	padding-top: 10px;
	padding-left: 1px;
	background-image: url("../img/btn-price.svg");
	background-repeat: no-repeat;
	background-position: 45px top;
	margin-bottom: 21px;
}

.services {
	background-color: #f1f5f7;
}

.services .section-title {
	margin: 0;
	color: #000000;
}

.text {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.services-list {
	position: relative;
}

.services-list::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 279px;
	background: url("../img/shadow-services.png");
	top: -49px;
	right: 0px;
}

.service-title,
.button-service,
.service-desc a {
	font-family: "Cuprum", "Arial", sans-serif;
}

.button-service {
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	background-color: #32425c;
	width: 240px;
	padding-top: 14px;
	padding-bottom: 17px;
	padding-left: 22px;
	text-align: left;
	border: none;
	box-shadow: 0 1px 0 0px #293449, 
	inset 0 1px 0 0px #405069;
	margin-bottom: 1px;
}

.button-service:hover {
	background-color: #293449;
	color: #ffffff;
	box-shadow: 0 1px 0 0px #293449;
}

.button-service:active {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0 1px 0 0px #ffffff, 
	inset 0 1px 0 0px #ffffff;
}

.service-current {
	color: #32425c;
	background-color: #ffffff;
	border: none;
	box-shadow: 0 1px 0 0px #ffffff, 
	inset 0 1px 0 0px #ffffff;
}

.service-info-item::after {
	position: absolute;
	content: "";
}

.service-delivery{
	background: url("../img/delivery.png") no-repeat 151px 19px;
	/*background: url("../img/delivery.png") no-repeat;
	width: 468px;
	height: 261px;
	bottom: 5px;
	right: 1px;
	*/
}

.service-garanty::after {
	background: url("../img/guarantee.png") no-repeat;
	width: 389px;
	height: 283px;
	bottom: 6px;
	right: -8px;
}

.service-credit::after {
	background: url("../img/credit.png") no-repeat;
	width: 465px;
	height: 285px;
	top: -3px;
	right: -10px;
}

.service-title {
	font-size: 30px;
	line-height: 28px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;
}

.button-credit {
	display: block;
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #ff5357;
	border-radius: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-credit:hover {
	background-color: #CA2C37;
}

.button-credit:active {
	background-color: #BA2732;
}

.info .section-title {
	color: #000000;
}

.info-list {
	font-size: 18px;
	line-height: 24px;
}

.footer-main,
.footer-main a {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	background-color: #32425c;
}

.footer-address {
	color: #f3f7f9;
}

.footer a:hover {
	text-decoration: underline;
}

.footer-main a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-categories a {
	color: #ffd180;
}

.logo-footer img {
	padding-top: 20px;
	padding-right: 41px;
	padding-bottom: 25px;
	padding-left: 41px;
}

.logo-footer img {
	padding-top: 20px;
	padding-right: 41px;
	padding-bottom: 25px;
	padding-left: 41px;
}

.copyrights,
.copyrights a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

.social-links {
	display: flex;
}

.social-links .vk{
	padding-right: 2px;
}

.social-links a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background: #212A3A;
	margin-top: 3px;
	margin-right: 3px;
}

.social-links a:hover {
	background: #EE3643;
}

.copyrights a {
	color: #ffd180;
}

.copyrights a:active{
	color: #ee3643;
	text-decoration: none;
}

/*--MODAL--*/ 
.pop-up-shadow {
	box-shadow: inset 0 7px 0 0 #ff5257,
	0 4px 20px 0 rgba(0,0,0,0.15);
}

.write-us-container {
	width: 640px;
	margin: 0 auto;
}

.write-us label {
	font-size: 18px;
	line-height: 24px;
}

.write-us input,
.write-us textarea {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 5px 11px;
	border: 2px solid #c5c5c5;
	border-radius: 2px;
}

.write-us textarea {
	padding-bottom: 9px;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
	color: #a9a9a9;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.modal-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: none;
	color: #000000;
}

.button-area {
	background-color: #f4f4f4;
	padding: 37px 80px;
}

.item-added {
	width: 620px;
	min-height: 282px: 
}

.item-added .button-area {
	background-color: #f1f1f1;
}

.button-write-us {
	width:100%;
	cursor: pointer;
}

.button-resume {
	color: #000000;
	background-color: #ffffff;
	margin-left: 10px;
	cursor: pointer;
}

.button-resume:active {
	color: #ffffff;
}

/*проверить - не работает внутренняя красная тень, на макете сделана просто картинкой*/
.map-big {
	box-shadow: inset 0 7px 0 0 #ff5257;
	margin-top: 7px;
	border: none;
}

.on-the-map {
	margin: 0 auto;
	width: 940px;
	min-height: 446px;
}

.on-the-map p,
.on-the-map a {
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
}

/*--CATALOG--*/
.breadcrumbs-list,
.filter-producer-list,
.pagination-list,
.filter-power-list {
	list-style: none;
}

.breadcrumbs-item,
.filter-section,
.sort-section,
.text {
	font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumbs-item a {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.breadcrumbs-item a:hover {
	text-decoration: underline;
}

.breadcrumbs-item a:active {
	text-decoration: none;
	opacity: 0.3;
}

.breadcrumbs-item:nth-child(1) {
	padding-top: 2px;
	margin-left: -1px;
}

.breadcrumbs-item::after {
	position: absolute;
	content: "";
	background: url("../img/icon-right-small.svg");
	width: 8px;
	height: 12px;
	top: 7px;
	right: -25px;
}

.breadcrumbs-item:last-child::after {
	position: absolute;
	content: "";
	background: none;
	width: 0px;
	height: 0px;
}

.breadcrumbs-item svg:hover {
	fill: #3D546F;
}

.page-title {
	background-color: #f2f6f8;
}

.column-title p {
	margin: 0px;
}

.column-title {
	font-size: 13px;
	line-height: 18px;
	padding: 10px 0px 10px 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	border-radius: 2px;
}

.filter-form {
	text-transform: uppercase;
}

.filter-title {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.filter-form .filter-block {
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.filter-form .filter-block:last-of-type {
	border: none;
}

.filter-block .range {
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #f7f3ec;
	border-radius: 2px;
}

.filter-block .dash {
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	background-color: transparent;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

.filter-input-checkbox:focus + label::before {
	outline: black auto 5px;
}

.filter-input-radio:focus + label::before {
	outline: black auto 5px;
}

.filter-input-checkbox + label::before {
	position: absolute;
	content: url("../img/checkbox-off.svg");
	width: 23px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox + label:hover::before {
	position: absolute;
	content: url("../img/checkbox-off-hover.svg");
	width: 23px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox + label:active::before {
	position: absolute;
	content: url("../img/checkbox-off-active.svg");
	width: 23px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox:checked + label::before {
	position: absolute;
	content: url("../img/checkbox-on.svg");
	width: 27px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox:checked + label:hover::before {
	position: absolute;
	content: url("../img/checkbox-on-hover.svg");
	width: 27px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox:checked + label:active::before {
	position: absolute;
	content: url("../img/checkbox-on-active.svg");
	width: 27px;
	height: 23px;
	left: 0px;
	top: -1px;
}

.filter-input-radio + label::before {
	position: absolute;
	content: url("../img/radio-off.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-radio + label:hover::before {
	position: absolute;
	content: url("../img/radio-off-hover.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-radio + label:active::before {
	position: absolute;
	content: url("../img/radio-off-active.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-radio:checked + label::before {
	position: absolute;
	content: url("../img/radio-on.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-radio:checked + label:hover::before {
	position: absolute;
	content: url("../img/radio-on-hover.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-radio:checked + label:active::before {
	position: absolute;
	content: url("../img/radio-on-active.svg");
	width: 25px;
	height: 25px;
	left: 0px;
	top: -1px;
}

.filter-input-checkbox + label:active {
	opacity: 0.4;
}

.filter-input-radio + label:active {
	opacity: 0.4;
}

.filter-producer-list label {
	font-size: 15px;
	line-height: 19px;
}

.filter-block input:disabled + label {
	color: #000000;
	opacity: 0.4;
}

.button-action {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	padding: 10px 15px;
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.pagination-list .button-action {
	border: none;
	box-shadow: inset 0 0 0px 1px #e5e5e5;
}

.filter-show {
	border-radius: 0px;
}

.button-action:hover {
	border: 1px solid #c5c5c5;
}

.button-action:active {
	border: 1px solid #ee3643;
}

.pagination-list .button-action:hover {
	border: none;
	box-shadow: inset 0 0 0px 1px #c5c5c5;
}

.pagination-list .button-action:active {
	border: none;
	box-shadow: inset 0 0 0px 1px #ee3643;
}

.current {
	border-radius: 3px;
	color: #ffffff;
	border: 1px solid #ee3643;
	background-color: #ee3643;
}

.current:hover {
	border: 1px solid #ee3643;
	background-color: #ee3643;
}

.pagination-list .current,
.pagination-list .current:hover {
	border: none;
	box-shadow: inset 0 0 0px 1px #ee3643;
}

.sort-type {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #ee3643;
}

.sort-type:hover {
	color: rgba(0,0,0,1);
	border-bottom: 1px solid #ee3643;
}

.sort-type:active {
	color: #ee3643;
	border-bottom: none;
	display: block;
}

.sort-type.active {
	color: #EE3643;
	border: none;
}

.arrow.active path {
	fill: #EE3643;
}

.sort-type.arrow {
	border: none;
}

.arrow.up {
	transform: translateY(1px);
	margin-right: 21px;
}

.arrow.down {
	transform: rotate(180deg) translateY(2px);
}

.sort-func {
	margin-right: 46px;
}

.sort-mode {
	margin-right: 65px;
}

.sort-price {
	margin-right: 70px;
}

.arrow path {
	fill: #C5C5C5;
}

.arrow:hover path {
	fill: #000000;
}

.arrow:active path {
	fill: #EE3643;
}

.page-desc {
	background-color: #f2f6f8;
}